<%= form_for(@administrador) do |f| %>
  <% if @administrador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administrador.errors.count, "error") %> no se puede guardar este administrador:</h2>

      <ul>
      <% @administrador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Cambiar contraseña</legend>
    <div class="field">
      <%= password_field_tag :current_password, params[:current_password], placeholder: "Contraseña actual", size: 35 %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: "Nueva contraseña" %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, placeholder: "Confirmar contraseña" %>
    </div>
    <div class="actions">
      <%= f.submit "Guardar cambios" %>
    </div>
  </fieldset>
<% end %>

<%= link_to 'Atrás', administradores_path %>