<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Administradores</h2>
<p><%= link_to 'Nuevo Administrador', new_administrador_path %></p>
<table border="1px">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Usuario</th>
      <th>Tipo</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Activo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <% @administradores.each do |administrador| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td width="15"><%= administrador.nombre %></td>
      <td width="15"><%= administrador.apellido %></td>
      <td width="15"><%= administrador.usuario %></td>
      <td width="10"><%= administrador.tipo %></td>
      <td width="10"><%= administrador.telefono %></td>
      <td width="15"><%= administrador.email %></td>
      <td width="5"><%= administrador.activo ? "Sí" : "No" %></td>
      <td width="15">
        <%= link_to 'Ver', administrador %><br/>
        <%= link_to 'Editar', edit_administrador_path(administrador) %><br/>
        <%= link_to 'Eliminar', administrador, method: :delete, data: { confirm: 'Está seguro?' } %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to "Atrás", eventos_path %>
