<%= form_for(@curso) do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> no se puede guardar este curso:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, rows: 4, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :activo %><br>
    <%= f.check_box :activo %>
  </div>
  <div class="field">
    <%= f.label :dia_hora %><br>
    <div class="container">
      <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker3'>
                    <%= f.text_field :dia_hora, value: @dia_hora_str, class: "form-control" %> 
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :duracion %> (minutos)<br>
    <%= f.number_field :duracion %>
  </div>

  <%= hidden_field_tag :evento_id, @curso.evento_id %>
  <br/>
  <div class="actions">
    <%= f.submit "Guardar Curso" %>
  </div>
<% end %>
