<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @curso.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @curso.descripcion %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @activo %>
</p>

<p>
  <strong>Dia hora:</strong>
  <span class="datetimestring">
    <%= @curso.dia_hora %>
  </span>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @curso.duracion %> minutos
</p>

<%= link_to 'Editar Curso', edit_curso_path(@curso) %> |
<%= link_to 'Atrás', @curso.evento %>
